<table>
  <thead>
	  <h1>Все карточки</h1>
	  <tr>
		  <th>Original Text</th>
		  <th>Translated Text</th>
		  <th>Review Date</th>
	   </tr>
  </thead>
	
	<% @cards.each do |card| %>
	<tbody>
	  <tr>
		  <td><%= card.original_text %></td>
		  <td><%= card.translated_text %></td>
		  <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
	  </tr>
	</tbody>
<% end %>
</table>